
.navbar {
    position: sticky;
    background-color: #b9e1ab;
    width: 100%;
    margin: 0;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
    z-index: 1050;
}


.navbarBusqueda {
    position: sticky;
    width: 100%;
    margin: 0;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
    z-index: 1050;
}



.container.fluid {
    padding: 0;
}

.backBusqueda {
    width: 100%;
    height: 100vh;
    background-image: url(./img/library\ background.jpg);
    background-size: cover;
    background-position: center;

}

.navbar.active {
    background: #fff;
    padding: 15px;
}

.navbar-brand {
    font-size: 25px;
    color: #000;
    font-weight: 100;
}

.navbar-collapse {
    display: flex;
}


.scrol{
    height: 100px;
}

.libros img {
    transition: all 300ms;
}


.libros img:hover{
    transform: scale(1.15);
}

/* Css Pagina Contactos */

.map {
    position: relative;
}

.formContact {
    position: absolute;
    width: 650px;
    height: 550px;
    background-color:lightblue;
    left: 45%;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: opx 4px 15px rgb(0,0,0,0.1);
    display: flex; /* Centrar el contenido usando flexbox */
    justify-content: center; /*Centrar horizontalmente */
    align-items: center; /* Centrar Verticalmente */
}

.tituloRegistro {
    text-align: center;
    margin-bottom: 20px;
    color: #555;

}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="number"]{
    width: 50%;
    padding-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btnEnviar {
    background-color:darkcyan;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btnEnviar:hover{
    background-color:dodgerblue
}

/* Botones buscar ingresar en navbar*/

.btnSearchLogin {
    margin: 2px;    
}

#btnBusqueda{
    margin-left: 5px;
}

#btnIngresoRegistro {
    margin-left: 5px;
}


/*JavaScript Filtro Buscar Libro */

.BusquedaLibros {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Crea 4 columnas de igual ancho */
    gap: 20px; /* Espacio entre las figuras */
    text-align: center;
}
  
.BusquedaDeLibro img {
    width: auto; /* Ajusta el ancho de las imágenes al contenedor */
    height: 200px;
}

.BusquedaDeLibro {
    background-color: #fff;
    transition: all 0.3s ease-out;
}

.BusquedaDeLibro figcaption {
    padding: 1rem;
}

/* Implementacion javascript */

.filter {
    visibility: hidden;
    opacity: 0;
    order: 1;
}

.resultadoBusqueda {
    display: flex;
    align-items: center;
    gap: 35px;
}


.filtroBusqueda {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 5%;
    margin-left: 20px;
    border-radius: 5px;
    background-color:#e5f3f0;
    border: 2px solid rgb(89,178,185);
    padding: 0.3rem;
    outline: none;
}

.outputBusqueda {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 40px;
}

.outputBusqueda span {
    font-weight: bold;
    text-transform: uppercase;
}

.outputBusqueda span::before {
    content: '“';
    position: relative;
    left: 1px;
}

.outputBusqueda span::after {
    content: '”';
    position: relative;
    right: 1px;
}
